<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name = "Parallel Testing Suite">
    <listeners>
        <listener class-name="utility.TestNGListeners">
        </listener>
    </listeners>
    <test name = "Parallel Tests" parallel = "methods" thread-count = "3">
        <classes>
            <class name = "testcases.HomePageTest" />
            <class name= "testcases.IFramePageTest"/>
            <class name= "testcases.SignInTest"/>
        </classes>
    </test>
</suite>
